.container-fluid{
          background-color: rgb(49, 141, 240);
          height: 60px;
          

}
.ook{
          margin-top: 20px;
          margin-left:10px ;
          margin-right:10px ;
         display: flex;
         
}
.heading{
          margin-top: 70px;
          padding-left: 270px;
          background-color: rgb(79, 170, 227);
          margin-left: 10px;
          margin-right: 10px;
}
.blockquote{
          margin-right: 120px;
}
.lineimg{
          margin-left: 250px;
}
.p1{
           
          
          margin-top: 20px;
          background-color: rgb(42, 165, 69); 
          margin-right: 100px; 
          margin-left: 100px; 
           
}
.footer{
          margin-top: 40px;
}

.border{
          border: 2px solid #ccc;
      padding: 20px;
      padding-left: 10px;
     margin-left: 100px;
      margin-right: 100px;
      margin-top: 10px;
      
    }

